---
layout: default # Envuelve este post con el layout principal (default.html)
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <p class="post-meta">
      Publicado el <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
      {% if page.categories %}
        | Categorías:
        {% for category in page.categories %}
          <a href="{{ site.baseurl }}/category/{{ category | slugify }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      {% endif %}
    </p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <footer>
    <hr>
    <p>Tags:
      {% for tag in page.tags %}
        <span class="post-tag">{{ tag }}</span>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </p>
    <a href="{{ site.baseurl }}/">← Volver al Inicio</a>
  </footer>

</article>

{% if page.math %}
<script src="
https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.js
"></script>
{% endif %}
